<div class="outer-container">
  <div class="container" id="container">
    @if (showRegister){
      <div class="form-container login-container">
        <form action="#" [formGroup]="formRegistro">
          <h1>Registro</h1>
          <p>Bem-vindo!</p>
          <input type="text" formControlName="nome" placeholder="Nome: ">
          <input type="email" formControlName="email" placeholder="E-mail: ">
          <input type="password" formControlName="senha" placeholder="Senha: ">
          <input type="password" formControlName="repitaSenha" placeholder="Repita a senha: ">
          <button (click)="register()">Registrar</button>
          <button (click)="teste()">teste</button>
          <p>Já não possui cadastro? <span><a (click)="showRegisterForm()">Faça login</a> </span></p>
        </form>
      </div>
    }
    @if(!showRegister){
      <div class="form-container login-container">
        <form action="#" [formGroup]="formLogin">
          <h1>Login</h1>
          <p>Bem-vindo de volta!</p>
          <input type="email" formControlName="email" placeholder="E-mail: ">
          <input type="password" formControlName="senha" placeholder="Senha: ">
          <button (click)="login()">Login</button>
          <p> Ainda não possui um registro? <span><a (click)="showRegisterForm()">Cadastre-se</a> </span></p>
        </form>
      </div>
    }

    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <button class="ghost" id="login">Login
          </button>
        </div>
        <div class="overlay-panel overlay-right">
          <!-- Colar algo no card direito-->
        </div>
      </div>
    </div>
  </div>
</div>
