<app-menu></app-menu>
<div class="container-fluid pt-3">
  <div class="row">

    <div class="col-12 col-lg-9">
      <div class="card-info">
        <div class="row">
          <div class="col-12 col-md-8">
            <h1 class="titulo">RPG System</h1>
            <h3 class="subtitulo">Mais imersão e praticidade <span>imersão</span> e <span>praticidade</span> para sua mesa de RPG!<br>
              Crie, gerencie e acompanhe seus personagens, monstros, itens e cenários com o máximo de eficiência e sem complicações.
              <br><br>Com o <span>RPG System</span> você organiza sua mesa de RPG como nunca antes,
              otimizando seu tempo e aprimorando a experiência de jogo para todos.<br><br>
            </h3>

          </div>
          <div class="col-12 col-md-4">
            <img src="assets/logo-polvo.png" alt="" width="80%">
          </div>
        </div>
      </div>
  </div>

    <div class="col-12 col-lg-3">
      <div class="card-info">
        <div class="container-perfil">
          <img src="assets/logo-polvo.png" alt="" class="img-perfil">
          <h4>Seja bem-vindo</h4>
          <h5>Tester</h5>
        </div>

<!--        <hr class="hr">-->
<!--        <p class="texto-p">"Um ser humano deve transformar informação em inteligência ou conhecimento. Tendemos a esquecer que nenhum computador jamais fará uma nova pergunta"</p>-->
<!--        <hr class="hr">-->

<!--        <li> <mat-icon>person</mat-icon>Gerencie usuários</li>-->
<!--        <li> <mat-icon>loyalty</mat-icon>Adicione benefícios</li>-->
<!--        <li> <mat-icon>format_list_bulleted</mat-icon>Consulte cadastros</li>-->
<!--        <li> <mat-icon>delete</mat-icon>Exclua usuários</li>-->
      </div>
    </div>
</div>
